body {
  background-color: #eeeeee;
}

h1 {
  color: #b55400;
  font-family: 'Baloo Thambi', cursive;
}

h2 {
  color: #393e46;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

.cards {
  margin: 10rem;
}
